@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('./assets/fonts/GangwonEduPower.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('./assets/fonts/NEXONLv2GothicMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}